 .Messi{
    width: 120px;
    background-color: #ddd;
 }
.Lamine {
width: 100px;

}
#famous .row {
display:flex;
text-align: center;
align-items: center;
justify-content: center;
}
#famous .row .col img{
border-radius: 50%;
margin-bottom: 1PX;
}
    {
    padding: 0;
    margin: 0;
    box-sizing:border-box; }
 body{
    background-image:url(images\ \(2\).jfif) ;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size:cover ;
     margin-top:50px;
  margin-bottom: 400px;
  margin-right: 50px;
  margin-left: 100px;
  @media( max-width:1200px)
 
}

.parent{
justify-content:left;
display: flex;
}

.parent div {
padding: 10px; ;
margin: 5px;
}

.product-card{ 
    margin-left:0px;
    height: 250px;
    width: 300px;
    padding: 10px;
    border-radius:0px;
    background:rgb(255, 255, 255);
    box-shadow: 0 10px rgb(0,0,0,0,3);
    position:relative;
    overflow: hidden;
    font-family:'Segoe UI',sans-serif ;
    transition: transform 0.3s;
}
.product-card:hover{
    transform: translate(-5px);
}
.product-card img{
    width:100%;
    border-radius:0px ;
    transition: all 0.5s ease ;
}

.product-card-img:hover{
    transform: rotateZ(55deg);
}
.product-card h2{
    margin: 15px 0 5px;
    font-size: 1.2rem ; 
}

.price {
    color: #fa0000;
    font-weight:bold;
}
.product-card.product-card::after{/* or before */
  content:"promo";
  position: absolute;
  top: 15px;
  left: -40px;
  background: #4e3636;
  color:#ffffff ;
  padding: 5px 40px;
  transform:rotate(-45deg);
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.husa{ 
    margin-top:30PX;
    margin-left:0px;
    height: 250px;
    width: 300px;
    padding: 10px;
    border-radius:0px;
    background:rgb(253, 253, 253);
    box-shadow: 0 10px rgb(0,0,0,0,3);
    position:relative;
    overflow: hidden;
    font-family:'Segoe UI',sans-serif ;
    transition: transform 0.3s;
}
.husa:hover{
    transform: translate(-5px);
}
 .husa img {
    width:100%;
    border-radius:0px ;
    transition: all 0.5s ease ;
}

.husa-img:hover{
    transform: rotateZ(55deg);
}
.husa h2{
    margin: 15px 0 5px;
    font-size: 1.2rem ; 
}
.price {
    color: #fa0000;
    font-weight:bold;
}
a:link, a:visited{
color: #000000;
}

.nino{ 
    margin-top:30PX;
    margin-left:0px;
    height: 250px;
    width: 300px;
    padding: 10px;
    border-radius:0px;
    background:rgb(253, 253, 253);
    box-shadow: 0 10px rgb(0,0,0,0,3);
    position:relative;
    overflow: hidden;
    font-family:'Segoe UI',sans-serif ;
    transition: transform 0.3s;
}
.nino:hover{
    transform: translate(-5px);
}
 .nino img {
    width:100%;
    border-radius:0px ;
    transition: all 0.5s ease ;
}
.nino-img:hover{
    transform: rotateZ(55deg);
}
.nino h2{
    margin: 15px 0 5px;
    font-size: 1.2rem ; 
}
.price {
    color: #fa0000;
    font-weight:bold;
}
button {
    height: 50px;
    width: 200PX ;
    text-transform: uppercase;
    letter-spacing:3PX;
    font-weight:700;
    margin-bottom:30PX ;
    margin-right:0px;
    margin-top:30px;
    --glow-color:rgb ( 217,176,255);
    --glow-spread-color:rgba(0, 0, 0, 0.781);
    --enhanced-glow-color:rgb(0, 0, 0);
   --btn-color:rgb(92, 92, 92);
   border: 0.25em solid var(--glow-color);
   padding: 1em 3em;
   color: var(--glow-color);
   font-size: 15px;
   font-weight: bold;
   background-color:var(--btn-color) ;
   border-radius: 1em;
   outline: none;
   box-shadow: 0 0 1em 0.25em var(--glow-color),
   0 0 4em 1em var(--glow-spread-color-color),
   inset 0 0 0.75em 0.25em var(--glow-color);
   text-shadow: 0 0 0.5em var(--glow-color);
   position:relative;
   transition:all 0.3s;
}
button::after { 
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
button:hover { 
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}
 button:active { 
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
  0 0 2.5em var(--glow-spread-color),
  inset 0 0 0.5em 0.25em var(--glow-color);
 }
nav{
position:relative;
width:475px;
height: 50px;
background:#ffffff;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
nav a{
position:relative;
display: inline;
font-size:1em;
font-weight: 500;
color:rgb(255, 255, 255);
text-decoration:none;
padding:0 23px;
z-index:1;
}
nav span{
position:absolute;
top:0;
left:0;
width: 95px;
height: 100%;
background: linear-gradient(45deg,#ffffff,#000000);
border-radius:10px;
transition:0.5s;
}
nav a:nth-child(1):hover~span{
    left:0px;
}
nav a:nth-child(2):hover~span{
    left:90px;
}
nav a:nth-child(3):hover~span{
    left:180px;
}
nav a:nth-child(4):hover~span{
    left:275px;
}
nav a:nth-child(5):hover~span{
    left:380px;
}
.content{
width:80%;
letter-spacing:4px;
font-weight:900px; ;
white-space:40PX ;
font-size:24PX ;
text-transform: uppercase;
justify-content: space-between;
}